chroma_db/
__pycache__/
.env
.venv/
*.egg-info/
uv.lock
.pytest_cache/
.mypy_cache/

# Runtime artifacts
logs.txt
.coverage
htmlcov/
uploads/

# Ignore everything in .github
.github/*

# But do not ignore the workflows directory
!.github/workflows/

.agents/*